In Python, data types are categories that tell Python what kind of value youâ€™re working with. They help Python decide what operations can be done with that value. Here are the main data types

In [1]:
x1 = 5
x2 = 'shridhar'
x3 = 5.0
x4 = True
x5 = 5j
x6 = [1,2,3]
x7 = {1,2,3}
x8 = (1,2,3)
x9 = {'naam' : 'shridhar', 'kaam' : 'Students ki help karna'}
x10 = None

In [3]:
print(type(x1))
print(type(x2))
print(type(x3))
print(type(x4))
print(type(x5))
print(type(x6))
print(type(x7))
print(type(x8))
print(type(x9))
print(type(x10))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>
<class 'complex'>
<class 'list'>
<class 'set'>
<class 'tuple'>
<class 'dict'>
<class 'NoneType'>

In [5]:
num1 = 5
num2 = -5
num3 = 5555555555555555555555555
num4 = 5555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555

In [7]:
import sys
print(sys.getsizeof(num4))
print(sys.getsizeof(num3))
print(sys.getsizeof(num1))
print(sys.getsizeof(num2))

76
36
28
28

In [9]:
print(type(num1))
print(type(num2))
print(type(num3))
print(type(num4))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>

In [11]:
float1 = 5.0
float2 = -5.5
float3 = 123e4

In [13]:
print(type(float1))
print(type(float2))
print(type(float3))

<class 'float'>
<class 'float'>
<class 'float'>

In [15]:
com1 = 0+1j
com2 = 5j
com3 = 1+2j
com4 = -5j

In [19]:
print(type(com1))
print(type(com2))
print(type(com3))
print(type(com4))

<class 'complex'>
<class 'complex'>
<class 'complex'>
<class 'complex'>

In [21]:
nt1 = int(float1)

In [23]:
int2 = int(com1) #complex num cannot be converted into integer

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

In [27]:
str1 = "Darshil"

In [29]:
nt1 = int(str1)

ValueError: invalid literal for int() with base 10: 'Darshil'

In [31]:
complex1 = complex(num1)

In [33]:
complex1

(5+0j)